body {
    background-color: #ADE792;
}

.bandle { 
    color: #344D67; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

.bandle2 {
    color: #344D67; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-transform: uppercase;
}

