body {
    background-color: #13005A;
}

.bilgewater { 
    color: #1C82AD; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

.bilgewater2 { 
    color: #1C82AD; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-transform: uppercase;
}
