body {
    background-color: #ECF2FF;
}

.demacia { 
    color: #579BB1; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

.demacia2 { 
    color: #579BB1; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-transform: uppercase;
}
