body {
    background-color: #00E7FF;
}

.freljord { 
    color: #0D4C92; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

.freljord2 { 
    color: #0D4C92; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-transform: uppercase;
}