body {
    background-color: #404258;
}

.golgeadalar { 
    color: #180A0A; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

.golgeadalar2 { 
    color: #180A0A; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-transform: uppercase;
}
