body {
    background-color: #000000;
}

.hiclik { 
    color: #950101; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

.hiclik2 { 
    color: #950101; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-transform: uppercase;
}