body {
    background-color: #03001C;
}

.index { 
    color: aliceblue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

img {
    padding-left: 140px;
}