body {
    background-color: #FCFFE7;
}

.ionia { 
    color: #DEA057; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

.ionia2 { 
    color: #DEA057; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-transform: uppercase;
}
