body {
    background-color: #85586F;
}

.ixtal { 
    color: #DFD3C3; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

.ixtal2 { 
    color: #DFD3C3; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-transform: uppercase;
}
