body {
    background-color: #000000;
}

.noxus { 
    color: #FF0000; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

.noxus2 { 
    color: #FF0000; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-transform: uppercase;
}
