body {
    background-color: #FFFFD0;
}

.piltover { 
    color: #A555EC; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

.piltover2 { 
    color: #A555EC; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-transform: uppercase;
}

