body {
    background-color: #ffee00;
}

.shurima { 
    color: #E14D2A; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

.shurima2 { 
    color: #E14D2A; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-transform: uppercase;
}