body {
    background-color: #285430;
}

.zaun { 
    color: #5F8D4E; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
}

.zaun2 { 
    color: #5F8D4E; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-transform: uppercase;
}
